on:
  workflow_dispatch:
    inputs: {}

jobs:
  release:
    runs-on: ${{ matrix.os.runs-on }}

    strategy:
      fail-fast: false
      matrix:
        os: 
          - runs-on: windows-latest
            arch: win-x64
          #- runs-on: macos-latest
          #  arch: osx-x64
          - runs-on: ubuntu-latest
            arch: linux-x64

    steps:
    - uses: actions/checkout@v1

    - name: install python requirements
      run: pip install -r requirements.txt
    
    - name: install musescore3 (windows)
      if: matrix.os.runs-on == 'windows-latest'
      run: winget install Musescore.Musescore.3 -e

    - name: install musescore3 (macos)
      if: matrix.os.runs-on == 'macos-latest'
      run: brew install musescore@3.6.2.548020600
    
    - name: install musescore3 (ubuntu)
      if: matrix.os.runs-on == 'ubuntu-latest'
      run: sudo apt-get install musescore3 -y

    - name: test
      shell: pwsh
      run: ls userguide/*.ipynb | foreach { echo $_; jupyter nbconvert --to python --execute $_ } 