on:
  workflow_dispatch:
    inputs: {}

jobs:
  test:
    runs-on: ${{ matrix.os.runs-on }}

    strategy:
      fail-fast: false
      matrix:
        os: 
          - runs-on: windows-latest
            arch: win-x64
          #- runs-on: macos-latest
          #  arch: osx-x64
          - runs-on: ubuntu-latest
            arch: linux-x64
        
        python-version: ['3.10', '3.11', '3.12']

    steps:
    - uses: actions/checkout@v1

    - name: install python
      uses: actions/setup-python@v5
      with:
        python-version: '${{ matrix.python-version }}'

    - name: install musescore3 (windows)
      if: matrix.os.runs-on == 'windows-latest'
      run: choco install musescore --version=3.6.2.548021803

    - name: install musescore3 (macos)
      if: matrix.os.runs-on == 'macos-latest'
      run: brew install musescore@3.6.2.548020600
    
    - name: install musescore3 (ubuntu)
      if: matrix.os.runs-on == 'ubuntu-latest'
      run: sudo apt-get install musescore3 -y

    - name: install python requirements
      run: pip install -r requirements.txt
    
    - name: configure music21 (windows)
      if: matrix.os.runs-on == 'windows-latest'
      run: python test/configurem21_windows.py

    #在本仓库的ipynb文件中，大部分代码块应该能正常运行，
    #但是有些代码块用于演示错误的代码，因此需要在测试时排除
    #这些代码块用 tag assert_error 标注
    - name: test
      shell: pwsh
      run: |
        ls userguide/*.ipynb | foreach { 
          echo $_;
          jupyter nbconvert --to python --execute $_ --TagRemovePreprocessor.enabled=True --TagRemovePreprocessor.remove_cell_tags assert_error
        } 