on:
  workflow_dispatch:
    inputs: {}

jobs:
  release:
    runs-on: ${{ matrix.os.runs-on }}

    strategy:
      matrix:
        os: 
          - runs-on: windows-latest
            arch: win-x64
          - runs-on: macos-latest
            arch: osx-x64
          - runs-on: ubuntu-latest
            arch: linux-x64

    steps:
    - uses: actions/checkout@v1

    - name: install python requirements
      run: pip install -r requirements.txt

    - name: test
      shell: pwsh
      run: ls userguide/*.ipynb | foreach { echo $_; jupyter nbconvert --to python --execute $_ } 